<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard - <%= name%></title>
    <link rel="stylesheet" href="/dashboard/style.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TimelineMax.min.js"></script>
    <!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/7.5.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.5.0/firebase-messaging.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->

<script>
  // Your web app's Firebase configuration
  var firebaseConfig = {
    apiKey: "AIzaSyBoJNVo8Yttbx3dNazDsci8baCRE7S85Hc",
    authDomain: "timetable-11136.firebaseapp.com",
    databaseURL: "https://timetable-11136.firebaseio.com",
    projectId: "timetable-11136",
    storageBucket: "timetable-11136.appspot.com",
    messagingSenderId: "330731838190",
    appId: "1:330731838190:web:443c3dce93b1eddca331ff"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
  const messaging = firebase.messaging();
  messaging.usePublicVapidKey("BIeT8jWpgqULKXODvOuJdlILZsLrwQwN6Bq5sIvZhxww9PEt1QTjsTjLDbaWLSCIHy1LCqbfej8Z7LyY-6iVpsc");
  Notification.requestPermission().then((permission) => {
  if (permission === 'granted') {
    console.log('Notification permission granted.');
    messaging.getToken().then((currentToken) => {
  if (currentToken) {
    sendTokenToServer(currentToken);
    updateUIForPushEnabled(currentToken);
  } else {
    // Show permission request.
    console.log('No Instance ID token available. Request permission to generate one.');
    // Show permission UI.
    updateUIForPushPermissionRequired();
    setTokenSentToServer(false);
  }
}).catch((err) => {
  console.log('An error occurred while retrieving token. ', err);
  showToken('Error retrieving Instance ID token. ', err);
  setTokenSentToServer(false);
});
  } else {
    console.log('Unable to get permission to notify.');
  }
});
</script>
</head>
<body>
  <input type="hidden" name="tid" value="<%=id%>"> 
  <div class="navleft">
    <div class="x profile active_opt">
        <i class="fa fa-user-circle" aria-hidden="true"></i>
    </div>
    <a class="x" href="/teachers/timetable">
      <div class="timetable">
        <i class="fa fa-calendar-o" aria-hidden="true"></i>
      </div>
    </a>
    <a class="x" href="/teachers/pending">
      <div class="requested_page">
        <i class="far fa-check-circle"></i>
      </div>
    </a>
    <a class="x" href="/logout">
      <div class="logout">
          <i class="fa fa-power-off" aria-hidden="true"></i>
      </div>
    </a>
  </div>
    <div class="cont">
        <div class="staffName">
            <h1>Welcome, <span class="welcomeName"><%= name%></span></h1>
            <div class="show_score">
               <div class="total_asked score">
                  You have taken substitute
                  <span class="val"><pre><i class="fas fa-handshake"></i>  <%= totalAsked%></pre></span>
                  times
               </div>
               <div class="total_taken score">
                  You have substituted
                  <span class="val"><pre><i class="far fa-handshake"></i>  <%= totalTaken%></pre></span>
                  times
               </div>
            </div>
         </div>
         <div class="bottom_cont">
           <h3>Looking for a substitute?</h3>
           <a href="/teachers/timetable">
            <button class="yes">Find Substitute</button>
          </a>
         </div>
         <div class="accepted_requested_cont">
          <div class="accepted">
            <h3>Classed you have accepted for </h3>
           <div class="accepted_list">
             
           </div>
          </div>
          <div class="requested">
           <h3>Classed you have requested </h3>
          <div class="requested_list">
            
          </div>
         </div>
         </div>
    </div>
    <script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
    <script defer src="/dashboard/script.js"></script>
</body>
</html> 