<!DOCTYPE html>
<html lang="en">
<head>
<script>
let asked = <%= totalAsked%>
let taken = <%= totalTaken%>
</script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard - <%= name%></title>
    <link rel="stylesheet" href="/dashboard/style.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TimelineMax.min.js"></script>
</head>
<body>
  <input type="hidden" name="tid" value="<%=id%>"> 
  <div class="navleft">
    <div class="x profile active_opt">
        <i class="fa fa-user-circle" aria-hidden="true"></i>
    </div>
    <a class="x" href="/teachers/timetable">
      <div class="timetable">
        <i class="fa fa-calendar-o" aria-hidden="true"></i>
      </div>
    </a>
    <a class="x" href="/teachers/pending">
      <div class="requested_page">
        <i class="far fa-check-circle"></i>
      </div>
    </a>
    <a class="x" href="/logout">
      <div class="logout">
          <i class="fa fa-power-off" aria-hidden="true"></i>
      </div>
    </a>
  </div>
    <div class="cont">
    <h1>Welcome, <span class="welcomeName"><%= name%></span></h1>
    <div class="chartCont">
      <div class="chartInnerCont">
      <canvas id="canv"></canvas>
      </div>
    </div>
        <!--<div class="staffName">
            <h1>Welcome, <span class="welcomeName"><%= name%></span></h1>
            <div class="show_score">
               <div class="total_asked score">
                  You have taken substitute
                  <span class="val"><pre><i class="fas fa-handshake"></i>  <%= totalAsked%></pre></span>
                  times
               </div>
               <div class="total_taken score">
                  You have substituted
                  <span class="val"><pre><i class="far fa-handshake"></i>  <%= totalTaken%></pre></span>
                  times
               </div>
            </div>
         </div>--!>
         <div class="bottom_cont">
           <h3>Looking for a substitute?</h3>
           <a href="/teachers/timetable">
            <button class="yes">Find Substitute</button>
          </a>
         </div>
         <div class="accepted_requested_cont">
          <div class="accepted">
            <h3>Classed you have accepted for </h3>
           <div class="accepted_list">
             
           </div>
          </div>
          <div class="requested">
           <h3>Classed you have requested </h3>
          <div class="requested_list">
            
          </div>
         </div>
         </div>
    </div>
    <script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
    <script defer src="/dashboard/script.js"></script>
</body>
</html> 