<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Timetable</title>
    <link rel="stylesheet" href="/timetable/style.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TimelineMax.min.js"></script>
</head>
<body>
  <input type='hidden' value="<%=id%>">
  <div class="navleft">
    <a class="x" href="/profile">
    <div class="x profile ">
        <i class="fa fa-user-circle" aria-hidden="true"></i>
    </div>
    </a>
    <div class="x timetable active_opt">
        <i class="fa fa-calendar-o" aria-hidden="true"></i>
    </div>
    <div class="x requested">
        <i class="fa fa-external-link-square" aria-hidden="true"></i>
    </div>
    <a href="/logout">
      <div class="x logout">
          <i class="fa fa-power-off" aria-hidden="true"></i>
      </div>
    </a>
  </div>
    <div class="cont">
        <div class="staffName">
            <h1>Welcome, <%= data[0].NAME %></h1>
          </div>
          <div class="Timetable">
            
        <table class="Timetable__table" cellspacing="0" cellpadding="0">  
          <tbody>
          
            <tr class="Timetable__time">
              <th class="Timetable__room"></th>
              <th>09:00-09:55</th>
              <th>09:55-10:50</th>
              <th>11:05-12:00</th>
              <th>12:00-12:55</th>
              <th>01:45-02:40</th>
              <th>02:40-03:35</th>
              <th>03:35-04:30</th>
            </tr>
            <tr>
              <th class="Timetable__room">Monday</th>
              <% for(var j=1; j < 8 ; j++) {%>
                <% let haveSubject=false %>
                <% for(var i=0; i < data.length ; i++) {%>
                  <% if(data[i].day == "MON" && data[i].session_number == j) {%>
                    <% haveSubject =true %>
                    <% if(data[i].isLab === 0){ %>
                      <td colspan="1">
                        
                          <form method = "POST" action = "/substitute/selectStaff">
                            <input type="hidden" name="sessID" value="<%= data[i].sessID%>">
                            <input type="hidden" name="teacherID" value="<%= data[i].id%>">
                            <input type="hidden" name="day" value="<%= data[i].day%>">
                            <input type="hidden" name="sessNo" value="<%= data[i].session_number%>">
                            <input type="submit" class="Allocation monday" value="<%= data[i].SUBJECT%> (<%= data[i].semester%> <%= data[i].section%>)">
                          </form>

                        </td>
                    <% } else { %>
                      <td colspan="2">
                          <form method = "POST" action = "/substitute/selectStaff">
                            <input type="hidden" name="sessID" value="<%= data[i].sessID%>">
                            <input type="hidden" name="teacherID" value="<%= data[i].id%>">
                            <input type="hidden" name="day" value="<%= data[i].day%>">
                            <input type="hidden" name="sessNo" value="<%= data[i].session_number%>">
                            <input type="submit" class="Allocation monday" value="<%= data[i].SUBJECT%> (<%= data[i].semester%> <%= data[i].section%>)">
                          </form>
                        </td>
                    <% j++;i++;} %>
                  <% } %>
                <%}%>
                <% if(!haveSubject){ %>
                  <td colspan="1"></td>
                <% } %>
              <%}%>
              
            </tr>
      
            <tr>
              <th class="Timetable__room">Tuesday</th>
              <% for(var j=1; j < 8 ; j++) {%>
                <% let haveSubject=false %>
                <% for(var i=0; i < data.length ; i++) {%>
                  <% if(data[i].day == "TUE" && data[i].session_number == j) {%>
                    <% haveSubject =true %>
                    <% if(data[i].isLab === 0){ %>
                      <td colspan="1">
                          <form method = "POST" action = "/substitute/selectStaff">
                            <input type="hidden" name="sessID" value="<%= data[i].sessID%>">
                            <input type="hidden" name="teacherID" value="<%= data[i].id%>">
                            <input type="hidden" name="day" value="<%= data[i].day%>">
                            <input type="hidden" name="sessNo" value="<%= data[i].session_number%>">
                            <input type="submit" class="Allocation tuesday" value="<%= data[i].SUBJECT%> (<%= data[i].semester%> <%= data[i].section%>)">
                          </form>
                        </td>
                    <% } else { %>
                      <td colspan="2">
                          <form method = "POST" action = "/substitute/selectStaff">
                            <input type="hidden" name="sessID" value="<%= data[i].sessID%>">
                            <input type="hidden" name="teacherID" value="<%= data[i].id%>">
                            <input type="hidden" name="day" value="<%= data[i].day%>">
                            <input type="hidden" name="sessNo" value="<%= data[i].session_number%>">
                            <input type="submit" class="Allocation tuesday" value="<%= data[i].SUBJECT%> (<%= data[i].semester%> <%= data[i].section%>)">
                          </form>
                        </td>
                    <% j++;i++;} %>
                  <% } %>
                <%}%>
                <% if(!haveSubject){ %>
                  <td colspan="1"></td>
                <% } %>
              <%}%>
              
              
            <tr>
              <th class="Timetable__room">Wednesday</th>
      
              <% for(var j=1; j < 8 ; j++) {%>
                <% let haveSubject=false %>
                <% for(var i=0; i < data.length ; i++) {%>
                  <% if(data[i].day == "WED" && data[i].session_number == j) {%>
                    <% haveSubject =true %>
                    <% if(data[i].isLab === 0){ %>
                      <td colspan="1">
                          <form method = "POST" action = "/substitute/selectStaff">
                            <input type="hidden" name="sessID" value="<%= data[i].sessID%>">
                            <input type="hidden" name="teacherID" value="<%= data[i].id%>">
                            <input type="hidden" name="day" value="<%= data[i].day%>">
                            <input type="hidden" name="sessNo" value="<%= data[i].session_number%>">
                            <input type="submit" class="Allocation wednesday" value="<%= data[i].SUBJECT%> (<%= data[i].semester%> <%= data[i].section%>)">
                          </form>
                        </td>
                    <% } else { %>
                      <td colspan="2">
                          <form method = "POST" action = "/substitute/selectStaff">
                            <input type="hidden" name="sessID" value="<%= data[i].sessID%>">
                            <input type="hidden" name="teacherID" value="<%= data[i].id%>">
                            <input type="hidden" name="day" value="<%= data[i].day%>">
                            <input type="hidden" name="sessNo" value="<%= data[i].session_number%>">
                            <input type="submit" class="Allocation wednesday" value="<%= data[i].SUBJECT%> (<%= data[i].semester%> <%= data[i].section%>)">
                          </form>
                        </td>
                    <% j++;i++;} %>
                  <% } %>
                <%}%>
                <% if(!haveSubject){ %>
                  <td colspan="1"></td>
                <% } %>
              <%}%>
            </tr>
      
            <tr>
              <th class="Timetable__room">Thursday</th>
      
              <% for(var j=1; j < 8 ; j++) {%>
                <% let haveSubject=false %>
                <% for(var i=0; i < data.length ; i++) {%>
                  <% if(data[i].day == "THU" && data[i].session_number == j) {%>
                    <% haveSubject =true %>
                    <% if(data[i].isLab === 0){ %>
                      <td colspan="1">
                          <form method = "POST" action = "/substitute/selectStaff">
                            <input type="hidden" name="sessID" value="<%= data[i].sessID%>">
                            <input type="hidden" name="teacherID" value="<%= data[i].id%>">
                            <input type="hidden" name="day" value="<%= data[i].day%>">
                            <input type="hidden" name="sessNo" value="<%= data[i].session_number%>">
                            <input type="submit" class="Allocation thursday" value="<%= data[i].SUBJECT%> (<%= data[i].semester%> <%= data[i].section%>)">
                          </form>
                        </td>
                    <% } else { %>
                      <td colspan="2">
                          <form method = "POST" action = "/substitute/selectStaff">
                            <input type="hidden" name="sessID" value="<%= data[i].sessID%>">
                            <input type="hidden" name="teacherID" value="<%= data[i].id%>">
                            <input type="hidden" name="day" value="<%= data[i].day%>">
                            <input type="hidden" name="sessNo" value="<%= data[i].session_number%>">
                            <input type="submit" class="Allocation thursday" value="<%= data[i].SUBJECT%> (<%= data[i].semester%> <%= data[i].section%>)">
                          </form>
                        </td>
                    <% j++;i++;} %>
                  <% } %>
                <%}%>
                <% if(!haveSubject){ %>
                  <td colspan="1"></td>
                <% } %>
              <%}%>
            </tr>
            
      
            <tr>
              <th class="Timetable__room">Friday</th>
      
              <% for(var j=1; j < 8 ; j++) {%>
                <% let haveSubject=false %>
                <% for(var i=0; i < data.length ; i++) {%>
                  <% if(data[i].day == "FRI" && data[i].session_number == j) {%>
                    <% haveSubject =true %>
                    <% if(data[i].isLab === 0){ %>
                      <td colspan="1">
                          <form method = "POST" action = "/substitute/selectStaff">
                            <input type="hidden" name="sessID" value="<%= data[i].sessID%>">
                            <input type="hidden" name="teacherID" value="<%= data[i].id%>">
                            <input type="hidden" name="day" value="<%= data[i].day%>">
                            <input type="hidden" name="sessNo" value="<%= data[i].session_number%>">
                            <input type="submit" class="Allocation friday" value="<%= data[i].SUBJECT%> (<%= data[i].semester%> <%= data[i].section%>)">
                          </form>
                        </td>
                    <% } else { %>
                      <td colspan="2">
                          <form method = "POST" action = "/substitute/selectStaff">
                            <input type="hidden" name="sessID" value="<%= data[i].sessID%>">
                            <input type="hidden" name="teacherID" value="<%= data[i].id%>">
                            <input type="hidden" name="day" value="<%= data[i].day%>">
                            <input type="hidden" name="sessNo" value="<%= data[i].session_number%>">
                            <input type="submit" class="Allocation friday" value="<%= data[i].SUBJECT%> (<%= data[i].semester%> <%= data[i].section%>)">
                          </form>
                        </td>
                    <% j++;i++;} %>
                  <% } %>
                <%}%>
                <% if(!haveSubject){ %>
                  <td colspan="1"></td>
                <% } %>
              <%}%>
            </tr>
          </tbody>
        </table>
      </div>
      <h3 class="fotter_message">Click on a subject that you want substitute for</h3>
    </div>
    <script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
    <script defer src="/timetable/script.js"></script>
</body>
</html> 